FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

PAYFAST_MERCHANT_ID=
PAYFAST_MERCHANT_KEY=
PAYFAST_PASSPHRASE=
PAYFAST_MODE=sandbox
SITE_URL=
ALLOWED_ORIGIN=

GEMINI_API_KEY=
RESEND_API_KEY=
RESEND_FROM_EMAIL=Career Unified <no-reply@mail.careerunified.com>
PERSONALIZED_NOTIFICATIONS_ENABLED=false
PERSONALIZED_NOTIFICATIONS_DRY_RUN=true
PERSONALIZED_NOTIFICATIONS_TEST_EMAILS=
API_ALERT_EMAIL=
API_ALERT_FROM_EMAIL=Career Unified <no-reply@mail.careerunified.com>
